.food_content{
	width: 1220px;
	height: auto;
	padding-top: 100px;
	overflow: hidden;
	margin: 0 auto;
}
.p_info{
	height: 350px;
	width: 250px;
	float: left;
	background: rgb(193,153,209);
	padding: 10px 15px;
	color: #fff;
	border-left: 15px solid rgb(60,20,55);
	position: fixed;
	top:150px;
}
.h_portrait{
	height: 100px;
	width: 100px;
	border-radius: 5px;
	margin: -60px auto;
}
.h_portrait>img{
	height: 100px;
	width: 100px;
	border-radius: 5px;
	border: 2px solid rgb(245,173,85);
}
.p_info>p.name{
	margin: 75px 0 7px;
	font-size: 25px;
	color: rgb(60,20,55);
}
.p_info>p.nickname{
	margin-bottom: 10px;
	font-size: 13px;
	font-weight: bold;
	color: rgb(60,20,55);
}
.p_info>p.description{
	font-size: 15px;
}
.p_info>p.contact{
	font-size: 14px;
	margin-top: 20px;
	font-weight: bold;
	color: rgb(60,20,55);
}
.p_info>p.description>img{
	margin-top: 8px;
	height: 70px;
	width: 70px;
}
.food_content>.moments{
	width: 970px;
	float: left;
	height: auto;
	padding: 0 60px;
	margin-left: 250px;
}
.food_content>.moments>a>.moment{
	width: 850px;
	height: 170px;
	border-bottom: 1px solid rgb(193,153,209);
	margin-bottom: 50px;
}
.food_content>.moments>a>.moment>.img{
	margin: 20px 0;
	height: 130px;
	width: 130px;
	overflow: hidden;
	border-radius: 130px;
	float: left;
}
.food_content>.moments>a>.moment>.img>img{
	height: 130px;
}
.food_content>.moments>a>.moment>.content{
	height: auto;
	width: 720px;
	padding-top: 20px;
	padding-left: 20px;
	color: #333;
	float: left;
	position: relative;
}
.food_content>.moments>a>.moment>.content>p.name{
	font-size: 22px;
	padding-bottom: 10px;
}
.food_content>.moments>a>.moment>.content>p.name>span{
	font-size: 16px;
	padding-left: 12px;
}
.food_content>.moments>a>.moment>.content>.time{
	position: absolute;
	top: 24px;
	right: 0;
}
.food_content>.moments>a>.moment>.d_s_z{
	height: auto;
	width: 720px;
	padding-top: 20px;
	padding-left: 20px;
	color: #333;
	float: left;
	position: relative;
	overflow: hidden;
}
.food_content>.moments>a>.moment>.d_s_z>.block{
	height: 30px;
	width: 75px;
	float: left;
}
.food_content>.moments>a>.moment>.d_s_z>.dianzan>i{
    display: block;
    height: 14.5px;
    width: 15px;
    margin-right: 5px;
    background: url(../../../img/icon/heart2.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    float: left;
    margin-top: 4px;
}
.food_content>.moments>a>.moment>.d_s_z>.shoucang>i{
	display: block;
    height: 14.5px;
    width: 15px;
    margin-right: 5px;
    background: url(../../../img/icon/star.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    float: left;
    margin-top: 4px;
}
.food_content>.moments>a>.moment>.d_s_z>.zhuanfa>i{
	display: block;
    height: 14.5px;
    width: 15px;
    margin-right: 5px;
    background: url(../../../img/icon/forward.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    float: left;
    margin-top: 4px;
}
@media screen and (max-width: 1000px){
.nav{
	position: fixed;
	z-index: 1000;
	width: 100%;
	min-width: 0;
	height: 1.8rem;
	background-color: #eee;
	bottom: 0rem;
}
.nav-content{
	width: 7rem;
	height: 100%;
	margin: 0 auto;
}

.nav-content a:first-child{
	display: none;
}
.nav-content li{
	float: left;
	height: 0.8rem;
	width: 2.1rem;
	margin: 0 0.1rem;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.3rem;
	font-weight: bold;
	color: #fff;
	border-bottom: 0px solid #333;
}
.footnote{
	display: none;
}
.background{
	width: 100%;
	height: auto;
	min-width:0;
	min-height: 0;
}

.food_content{
	width: 100%;
	height: auto;
	padding-bottom: 1.8rem;
	padding-top: 3rem;
	overflow: hidden;
	margin: 0 auto;
}
.p_info{
	height: 3rem;
	width: 100%;
	float: left;
	background: rgb(193,153,209);
	padding: 0.3rem 0.1rem;
	color: #fff;
	border-left: 15px solid rgb(60,20,55);
	border-right: 15px solid rgb(60,20,55);
	position: fixed;
	top:0;
	z-index: 99;
}
.h_portrait{
	height: 2.4rem;
	width: 2.4rem;
	border-radius: 5px;
	margin: 0;
	float: left;
}
.h_portrait>img{
	height: 100%;
	width: 100%;
	border-radius: 5px;
	border: 2px solid rgb(245,173,85);
}
.p_info>p{
	float: left;
	width: 50%;
	padding-left: 0.2rem;
}
.p_info>p.name{
	margin: 0;
	font-size: 0.4rem;
	color: rgb(60,20,55);
}
.p_info>p.nickname{
	margin-bottom: 0.1rem;
	font-size: 0.2rem;
	font-weight: bold;
	color: rgb(60,20,55);
}
.p_info>p.description{
	font-size: 0.25rem;
}
.p_info>p.contact{
	font-size: 0.2rem;
	bottom: 1.7rem;
	font-weight: bold;
	color: rgb(60,20,55);
	position: absolute;
	right: 0.2rem;
	width: auto;
}
.p_info>p.description>img{
	bottom: 0.3rem;
	height: 1.3rem;
	width: 1.3rem;
	position: absolute;
	right: 0.2rem;
}
.food_content>.moments{
	width: 100%;
	float: left;
	height: auto;
	padding: 0;
	margin-left: 0;
}
.food_content>.moments>a>.moment{
	width: 7rem;
	height: auto;
	margin: 0 auto;
	border-bottom: 1px solid rgb(193,153,209);
	margin-bottom: 0;
	overflow: hidden;
}
.food_content>.moments>a>.moment>.img{
	margin: 0.15rem 0;
	height: 2rem;
	width: 2rem;
	overflow: hidden;
	border-radius: 130px;
	float: left;
}
.food_content>.moments>a>.moment>.img>img{
	height: 100%;
}
.food_content>.moments>a>.moment>.content{
	height: auto;
	width: 4.9rem;
	padding-top: 0.15rem;
	padding-left: 0.3rem;
	color: #333;
	float: left;
	position: relative;
}
.food_content>.moments>a>.moment>.content>p.name{
	font-size: 0.3rem;
	padding-bottom: 0.1rem;
}
.food_content>.moments>a>.moment>.content>p.name>span{
	display: inline-block;
	width: 100%;
	font-size: 0.22rem;
	padding-left: 0;
}
.food_content>.moments>a>.moment>.content>.time{
	position: absolute;
	top: 0.15rem;
	right: 0;
	font-size: 0.22rem;
}
.food_content>.moments>a>.moment>.content>.description{
	font-size: 0.2rem;
}
.food_content>.moments>a>.moment>.d_s_z{
	height: auto;
	width: 4rem;
	padding-top: 0.1rem;
	padding-left: 0.3rem;
	color: #333;
	float: right;
	position: relative;
	overflow: hidden;
}
.food_content>.moments>a>.moment>.d_s_z>.block{
	height: 0.5rem;
	width: 1.2rem;
	float: left;
}
.food_content>.moments>a>.moment>.d_s_z>.block span{
	font-size: 0.25rem;
}
.food_content>.moments>a>.moment>.d_s_z>.dianzan>i{
    display: block;
    height: 0.3rem;
    width: 0.29rem;
    margin-right: 0.1rem;
    background: url(../../../img/icon/heart2.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    float: left;
}
.food_content>.moments>a>.moment>.d_s_z>.shoucang>i{
	display: block;
    height: 0.3rem;
    width: 0.29rem;
    margin-right: 0.1rem;
    background: url(../../../img/icon/star.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    float: left;
}
.food_content>.moments>a>.moment>.d_s_z>.zhuanfa>i{
	display: block;
    height: 0.3rem;
    width: 0.29rem;
    margin-right: 0.1rem;
    background: url(../../../img/icon/forward.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    float: left;
}
#back-to-top{display: none!important;}
}
