*{font-family: "微软雅黑"; padding: 0px;margin: 0px;text-decoration: none;outline-style:none;border:0px;}
body,html{height: 100%;width: 100%;color: #fff;}
a{color:#fff;}
a:hover,a:focus{color: #fff}
.box-shadow{
	-o-box-shadow: 1px 1px 5px #494949;
	-moz-box-shadow: 1px 1px 5px #494949;
	-webkit-box-shadow: 1px 1px 5px #494949;
	box-shadow: 1px 1px 5px #494949;
}
.contentBg{
	margin: 0px 10px;
	background-color: rgba(200,200,200,0.3);
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 3px;
}
.mybtn{
	text-align: center;
	background-color: #875F9A;
	border-radius: 4px;
	cursor: pointer;
}
.mybtn02{
	text-align: center;
	background-color: #fff;
	padding: 5px 20px;
	color: rgba(0,0,0,0.8);
	border-radius: 2px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
}
.mybtn:hover{
	background-color: #7F4F96;
}
#back-to-top{
	position: fixed;
	z-index: 10000;
	padding: 10px 2px;
	bottom: 5%;
	right: 0%;
	border: 2px solid rgba(0,0,0,0.3);
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
	font-weight: bold;
	display: none;
}
#back-to-top span{
	display: block;
}
.bg{
	float: left;
	min-height: 100%;
	min-width: 1300px;
	width: 100%;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00b3ee), to(#c3325f));
    background-image: -webkit-linear-gradient(#00b3ee,#c3325f);
    background-image: -moz-linear-gradient(top, #00b3ee,#c3325f);
    background-image: -o-linear-gradient(#00b3ee, #c3325f);
    background-image: linear-gradient(#47BAE0, #E27295);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b3ee', endColorstr='#c3325f');
    background-repeat: no-repeat;
    padding-bottom: 50px;	
}
.title{
	width: 1300px;
	height: 50px;
	margin: 0 auto;
	background-color: rgba(46,118,143,0.9);
}
.main{
	width: 1300px;
	margin: 0 auto;
	margin-top: 25px;
}
.left{
	float: left;
	width: 240px;
}
.center{
	float: left;
	width: 700px;
	margin-left: 25px;
}
.right{
	float: left;
	width: 310px;
	margin-left: 25px;
}
.personal{
	width: 100%;
	height: 120px;
	padding: 10px;
	background-color: rgba(46,118,143,0.8);
}
.portrait{
	height: 100px;
	width: 100px;
	float: left;
}
.portrait img{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	border: 5px solid rgba(81,181,219,0.8);
}
.portrait-font{
	float:left;
	width:60px;
	text-align: center;
	padding-top: 57px;
	letter-spacing:2px
}
.portrait-font a:hover{
	color: #5BC0DE;
}
.personal p{
	width: 60px;
	font-size: 15px;
	display: inline-block;
	font-family: "微软雅黑";
	margin-bottom: 0px;
	font-weight: bold;
}
.personal span{
	width:60px;
	display: inline-block;
	font-family: "微软雅黑";
	font-size: 13px;
}
.icon{
	float: left;
	width: 80px;
	height: 50px;
	background-color: rgb(35, 76, 103);
}
.icon img{
	width: 62.5px;
	height:50px;
	margin-left: 10px;
}
.icons{
	float: left;
	height: 15px;
	width: 15px;
	margin: 17.5px;
	background: url(../img/icons.png);
	background-position: 0px -25px;
}
.icons-remove{
	float:right;
	height: 15px;
	width: 15px;
	margin:12.5px;
	background: url(../img/icons.png);
	background-position:-240px -24px;
	cursor: pointer; 
}
.fn{
	float: left;
	width: 620px;
	height: 50px;
}
.btn-x{
	float: left;
	height: 50px;
	width: 150px;
	cursor: pointer;
	margin: 0px 2px;
	border-left: 2px solid rgba(255, 255, 255,0.2);
	border-right: 2px solid rgba(255, 255, 255,0.2);
}
.btn-x-font{
	padding: 13px 40px;
	font-size: 15px;
}
.btn-x:hover{
	background-color: rgba(255,255,255,0.3);
}
.remind{
	font-size: 12px;
	padding:1px 6px;
	background-color:#DE6565;
	border-radius:10px;
}
.margin{
	margin-bottom: 25px;
}
.nav{
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,0.35);
	font-size: 15px;
	border-bottom: 2px solid rgba(11,11,11,0.1)
}
.panel-collapse ul{
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	margin-bottom: 0px;
}
#accordion a{
	text-decoration: none;
}
#accordion ul a li{
	display: inline-block;
	width: 100%;
	height: 35px;
	border-bottom: 2px solid rgba(11,11,11,0.1);
	padding:7px 17.5px;
}
#accordion ul a li:hover{
	background-color: rgba(0,0,0,0.2);
}
#accordion a span{
	display: inline-block;
	padding: 15px 0px;
}
.theme01{
float: left;
width: 100%;
background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from(rgba(91, 197, 232, 0.4)), to(rgba(1, 33, 56, 0.8)));
background-image: -webkit-linear-gradient(left, rgba(91, 197, 232, 0.4), rgba(1, 33, 56, 0.8));
background-image: -moz-linear-gradient(left, rgba(91, 197, 232, 0.4), rgba(1, 33, 56, 0.8));
background-image: -o-linear-gradient(left, rgba(91, 197, 232, 0.4), rgba(1, 33, 56, 0.8));
background-image: linear-gradient(to right, rgba(91, 197, 232, 0.4), rgba(1, 33, 56, 0.8));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType= 1,startColorstr='#5BABC5', endColorstr='#11354E');
}
.blank{
	float:left;height:40px; width:10px;
}
.theme-title{
	height: 40px;
	width: 100%;
	/*padding: 0px 10px;*/
	line-height: 39px;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
}
.theme02{
	float: left;
	width: 100%;
	background-color: rgba(0,0,0,0.35);
}
.theme03{
	float: left;
	width: 100%;
	background-color: rgba(180,200,215,0.3);
}
.Mconcent{
	width: 100%;
}
.animation-remove
{
	animation: remove 1.5s;
	-moz-animation: remove 1.5s;	
	-webkit-animation: remove 1.5s;	
	-o-animation: remove 1.5s;
}
@keyframes remove
{
	from {width: 100%;}
	to {width: 0%;}
}

@-moz-keyframes remove 
{
	from {width: 100%;}
	to {width: 0%;}
}

@-webkit-keyframes remove 
{
	from {width: 100%;}
	to {width: 0%;}
}

@-o-keyframes remove 
{
	from {width: 100%;}
	to {width: 0%;}
}
.animation-show
{
	animation: show 1.5s;
	-moz-animation: show 1.5s;	
	-webkit-animation: show 1.5s;	
	-o-animation: show 1.5s;
}
@keyframes show
{
	from {width: 0%;}
	to {width: 100%;}
}

@-moz-keyframes show 
{
	from {width: 0%;}
	to {width: 100%;}
}

@-webkit-keyframes show 
{
	from {width: 0%;}
	to {width: 100%;}
}

@-o-keyframes show 
{
	from {width: 0%;}
	to {width: 100%;}
}
.Mremind{
	width: 220px;
	height: 50px;
	margin: 10px auto;
}
.ProBar{
	display: inline-block;
	height: 4px;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	border-radius: 5px;
}
.jindu{
	position: relative;
	top: -20px;
}
.Mremind p{
	margin-bottom:5px;
}
.Mremind p span{
	font-size: 12px;
	float: right;
}
.TolSales{
	width: 100%;
	height: 40px;
	padding: 0px 10px;
}
.TolSales img{
	float: left;
}
.TolSales div{
	float: left;
	height: 32px;
	width: 80px;
}
.TolSales .Tolmath{
	position: relative;
	top: -4px;
	display: block;
	width: 80px;
	padding: 0px 5px;
	font-size: 15px;
}
.TolSales .Tolep{
	position: relative;
	top: -4px;
	display: block;
	width: 80px;
	padding: 0px 5px;
	font-size: 10px;
}
#MyStaff ul li{
	display: block;
	height: 70px;
	background-color: rgb(231,235,236);
	border-bottom: 2px solid #fff;
}
#MyStaff ul li:nth-child(2n){
	background-color: rgb(222,227,230);
}
#MyStaff ul li .PerSales{
	float: left;
	width: 80px;
	padding: 10px 0px;
}
#MyStaff ul li .PerMath{
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bolder;
	color: #C91F37;
}
#MyStaff ul li .PerEp{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #555;
}
#MyStaff ul li .PerPot{
	float: left;
	height: 60px;
	width: 60px;
	padding: 6px 0px;
}
#MyStaff ul li .PerPot img{
    height: 56px;
	width: 56px;
    border-radius: 50px;
    border: 3px solid #fff;
}
#MyStaff ul li .PerIndus{
	float: left;
	width: 170px;
	padding: 6px 5px;
}
#MyStaff ul li .PerIndus span{
	display: block;
	font-size: 17px;
	font-weight: bold;
	color:#333;
}
#MyStaff ul li .PerIndus p{
	font-size: 12px;
	color:#555;
	word-wrap:break-word; 
	margin-bottom: 0px;
}
#MyStaff .PreMore{
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 47px;
	cursor: pointer;
	font-size: 12px;
}
#MyStaff .PreMore:hover{
	text-decoration: underline;
}
.project{
	height: 300px;
	width: 100%;
}
.project ul li{
	display: block;
	height: 50px;
	background-color: rgb(240,240,240);
	width: 100%;
	padding: 0px 10px;
}
.project ul li:nth-child(2n){
	background-color: rgb(222,227,230);
}
.project .PojName{
	float: left;
	padding-top: 5px;
	color: #333;
	font-size: 15px;
	font-weight: bold;
}
.project .PojName p{
	display: inline-block;
	margin-bottom: 0px;
	margin-left: 30px;
	font-size: 13px;
	color: #555;
}
.PojSeach{
	width: 100%;
	height: 50px;
	padding: 0px 10px;
}
.PojSeach .seach{
	float: right;
	margin: 7.5px 0px;
	height: 35px;
	width: 285px;
}
.PojSeach .seach div{
	float: left;
	height: 35px;
	width: 40px;
	padding: 7px 10px;
	background: rgba(0,0,0,0.4);
}
.PojSeach .seach div img{
	height: 20px;
	width: 20px;
}
.PojSeach .seach input{
	float: left;
	background: rgba(0,0,0,0.2);
	padding-left: 15px;
	width: 210px;
	height: 35px;
}
.PojSeach .seach span{
	float: left;
	padding: 7.5px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background: rgba(0,0,0,0.2);
}
.PojSeach .seach span img{
	width: 20px;
	height: 20px;
}
#company h4{
	text-align: center;
	color: rgb(65,65,65);
	font-weight: bold;
}
#company img{
	width: 310px;
	padding: 10px 10px;
}
#company p{
	text-indent:2em;
	padding: 0 10px;
}
.form p{
	padding:10px;
	margin-bottom: 0px;
	color: rgb(65,65,65);
	font-weight: bold;
}
.form p input{
	float: right;
	width: 210px;
	background-color: rgba(0,0,0,0.2);
	color: #fff;
	padding: 1px 4px;
	border: 1px solid rgba(0,0,0,0.22);
}
.form p span{
	color:#DE6565; 
}
.form .submit{
	margin: 10px; 
	width: 290px;
	padding: 10px 0px;
	background-color: #875F9A;
	border-radius: 4px;
}
.form .submit:hover{
	background-color: #7F4F96;
}
.form select{
	float: right;
	width: 210px;
	background-color: rgba(0,0,0,0.2);
	color: #fff;
	padding: 1px 4px;
	border: 1px solid rgba(0,0,0,0.22);
}
.mytable th{
	border: 1px solid rgba(0,0,0,0.22);
	text-align: center;
	padding: 5px 0px;
	background-color: rgba(0,0,0,0.2);
}
.mytable td{
	border: 1px solid rgba(0,0,0,0.22);
	text-align: center;
	padding: 5px 0px;
}
.goods{
	float: left;
	height: 85px;
	width: 85px;
	background-color: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.3);
	margin: 10px 0px 0px 10px;
}
.goods .color01{
	border-color:rgba(222,101,101,1) rgba(222,101,101,1) rgba(0,0,0,0) rgba(0,0,0,0);  
}
.goods .color02{
	border-color:rgba(46,109,164,1) rgba(46,109,164,1) rgba(0,0,0,0) rgba(0,0,0,0);  
}
.goods .color03{
	border-color:rgba(113,113,113,1) rgba(113,113,113,1) rgba(0,0,0,0) rgba(0,0,0,0);  
}
.status{
	float: right;
	border-style:solid;
	border-width:16px 16px 16px 16px;
}
.goods span{
	position: relative;
	left: 83%;
	font-size: 12px;
}
.goods p{
	position: relative;
	top: -10px;
	float: left;
	width: 100%;
	padding: 0px 5px;
	margin: 0px;
	font-size: 13px;
}
.goods:hover{
	height: 90px;
	width: 90px;
	background-color: rgba(0,0,0,0.4);
	margin: 5px 0px 0px 5px;
}
