	<div class="footnote">
		<div class="foot-content"> 
			<div>
				<span style="color:#666;font-weight:bold">友情链接</span>
				<a href="http://seventh77.com/view/HP/HP.html" target="_blank"><span><b style='background-color:rgb(244,121,131)'>生日快乐</b></span></a>
				<a href="http://seventh77.com/view/seven" target="_blank"><span><b style='background-image: linear-gradient(to left,#47BAE0, #E27295);'>77公里</b></span></a>
				<a href="http://bbs.csdn.net/" target="_blank"><span><b style='background-color:rgb(204,0,0)'>CSDN</b></span></a>
				<a href="http://www.w3school.com.cn/" target="_blank"><span><b>W3School</b></span></a>
				<a href="https://github.com/zpjshiwo77" target="_blank"><span><b style="background-color:rgb(51,51,51)">github</b></span></a>
				<a href="http://www.iyiban.cn/" target="_blank"><span><img src="../img/icon/iyiban.jpg"></span></a>
				<a href="http://cdjax.com" target="_blank"><span><b style='background-color:#47BAE0;'>JerryLee</b></span></a>
				<a href="http://music.163.com/#/user/home?id=73815052" target="_blank"><span><b style='background-color:rgb(199,37,12);'>网易云音乐</b></span></a>
				<div style="height:40px;width:200px;"></div>
			</div>
			<p>沪 ICP 备 16006783 号|Copyright © 2016-2017, Seventh Page, All Rights Reserved</p>
		</div>
	</div>