
.button{
	background: url(../image/button.png);
	background-size: 100% 100%;
	display: none;
    position: relative;
    top:65%;
    left: 50%;
    margin-left: -85.8px;
	height: 120px;
	width: 171.6px;
	cursor: pointer;
}
.button:hover{
	-webkit-animation: bounce-down 1.0s linear infinite;
    animation: bounce-down 1.0s linear infinite;
}
@-webkit-keyframes bounce-down {
    25% {-webkit-transform: translateY(-10px);}
    50%, 100% {-webkit-transform: translateY(0);}
    75% {-webkit-transform: translateY(10px);}
}
@keyframes bounce-down {
    25% {transform: translateY(-10px);}
    50%, 100% {transform: translateY(0);}
    75% {transform: translateY(10px);}
}