html,body{
        margin:0; 
        padding:0;
        height: 100%;
}
.size{
    height: 99.92%;
    width: 100%;
}

#one{
    background:url(../image/cover.jpg) no-repeat;
    background-size: cover;
    /*background-size: 100% 100%;*/
}
#two,#three,#four{
    display: none;
    float: left;
}
#two{
    height: 560px;
}
#three{
    height: 840px;
}
#four{
    height: 840px;
}
img{
    display: block;
}
.img_01{
    position: absolute;
    width: 450px;
    height: 243px;
    left: 40%;
    top: 10%;
    margin-left: -150px;
    display: none;
    z-index: 1;
}
.img_02{
    position: absolute;
    width: 450px;
    height: 135px;
    left: 50%;
    top: 44%;
    margin-left: -150px;
    display: none;
    z-index: 1;
}
#background{
    position: absolute;
    z-index: -100;
    background:url(../image/background.jpg);
    width: 100%;
    height: 1000px;
    display: none;
    transition: height 1s;
    -moz-transition: height 1s;  
    -webkit-transition: height 1s;
    -o-transition: height 1s;    
}
#banner{
    width: 100%;
    height:300px;
    position: relative;
    top:170px;
    display: none;
    background-color: rgba(00,00,00,0.5);
}
#lock{
    position: absolute;
    height: 99.92%;
    width: 100%;
    background-color: rgba(00,00,00,0.8);
    z-index: 100;
}
#lock_00{
    position: absolute;
    height: 80px;
    width: 250px;
    top:240px;
    right: 50%;
    margin-right: -135px;
    z-index: 101;
    padding-top: 40px;
    padding-left: 20px;
}
#mima{
    display: inline;
    height: 30px;
    width: 150px;
    font-size: 1.5em;
    margin-bottom: 10px;
}
#error{
    font-size: 18px;
    font-family:"微软雅黑";
    font-weight:bold;
    margin-left: 65px;
    color: yellow;
}
#password{
    background: url(../image/password.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 102;
    height: 100px;
    width: 350px;
    top:130px;
    left: 50%;
    margin-left: -175px;
}
.sunshine{
    height: 75px;
    width: 75px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ie-border-radius: 50px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
}
.frame{
    position: relative;
    height: 560px;
    width: 1000px;
    top:170px;
    left: 50%;
    margin-left: -500px;
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px; 
    display: none;
}
#banner img{
    position: relative;
    left: 50%;
    margin-left: -250px;
    display: none;
}
#BackTop{
    height:71px;
    width: 67px;
    position: fixed;
    right: 5%;
    bottom: 5%; 
    background: url(../image/BackTop.png);
    cursor: pointer;
    opacity: 0.8;
    -moz-opacity:0.8;
    -webkit-opacity:0.8;
    display: none;
}