<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>生日快乐</title>
    <link rel="Shortcut Icon" href="image/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="CSS/button.css">
    <link rel="stylesheet" type="text/css" href="CSS/button2.css">
    <link rel="stylesheet" type="text/css" href="CSS/common.css">
    <link rel="stylesheet" type="text/css" href="CSS/style_home1.css">
    <script src="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script>
    <script type="text/javascript">uaredirect("http://seventh77.com/error/error.html");</script>
    <script type="text/javascript" src="../publicjs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="JS/album.js"></script>
    <script type="text/javascript">
    var count=1;
    var photo_count=0;
    var sunTime;
    $(document).ready(function(){
      $("#entry").click(function(){
        if($("#mima").val()=="19920925"){
          var audioEle = document.getElementById("mp3");
          audioEle.play();
          $("#lock").css("display","none");
          $(".img_01").fadeIn(800,function(){
            $(".img_02").fadeIn(1000,function(){
              $(".button").fadeIn(1200);
            });
          });
          // $(".button").show();

          $(".sunshine").each(function(){
            var x=Math.floor(Math.random()*4000);
            var y=Math.floor(Math.random()*9400);
            var z=Math.floor(Math.random()*7);
            var opacity=z/10;
            var top=x/100;
            var right=y/100;
            $(this).css({"top":top+"%","right":right+"%","-moz-opacity":opacity,"-khtml-opacity": opacity,"opacity":opacity });
          });
          change();

          $(".button").click(function(){
            $(".sunshine").hide();
            $(".img_01").fadeOut(300);
            $(".img_02").fadeOut(300);
            $(".button").fadeOut(300);
            $("#background").slideDown("slow");
            $("#banner").slideDown("slow",function(){
              $("#happy").fadeIn(1500,function(){
                $("#one").remove();
                clearTimeout(sunTime);
                $(window).bind("scroll",function () {
                  var scrollTop = $(this).scrollTop();
                  var scrollHeight = $(document).height();
                  var windowHeight = $(this).height();
                  if (scrollTop + windowHeight >= scrollHeight) {
                    if(count==1){
                      $("#two").slideDown("slow");
                      $(".frame").slideDown(1500);
                      $(".frame").css("height","560px");
                      $("#background").css("height","1200px");
                      if(photo_count<1){Album.set('#Album');photo_count++;}  
                      count++;
                    }
                    else if(count==2){
                      $("#three").slideDown(1500);
                      $(".frame").css("height","1400px");
                      $("#background").css("height","2000px");
                      if(photo_count<2){Album.set('#Album1');photo_count++;}
                      count++;
                    }
                    else if(count==3){
                      $("#four").slideDown(1500);
                      $(".frame").css("height","2240px");
                      $("#background").css("height","2710px");
                      if(photo_count<3){Album.set('#Album2');photo_count++;}
                      count++;
                    }
                  }
                }).trigger('scroll');
              });
            });
            $("#one").slideUp("slow"); 
          });
        }
        else{
          $("#error").show();
        }
      });
    });
    function change(){
      $(".sunshine").each(function(){
        var z=Math.floor(Math.random()*7);
        var opacity=z/10;
        $(this).animate({"-moz-opacity":opacity,"-khtml-opacity": opacity,"opacity":opacity},1000);
      });
      sunTime = setTimeout('change()',1000);
    }
    function Top(){
         $('body,html').animate({scrollTop:0},500);
         $("#two").fadeOut(500);
         $("#three").fadeOut(500);
         $("#four").fadeOut(500);
         $(".frame").css("height","0px");
         $("#background").css("height","1000px");
         count=1;
      }
    </script>

</head>
<body >
  <audio id="mp3" src="mp3/2.mp3" preload="preload" loop="loop"></audio>

  <!-- 密码验证 -->
  <div id="lock">
    <div id="password">
    </div>
    <div id="lock_00">
      <input autofocus="autofocus" id="mima">
      <a id="entry" class="button2 lightbg-pink"><span>Enter</span></a>
      <p id="error" style="display:none">密码错误！
    </div>
  </div>

  <!-- 相册封面 -->

	<div id="one" class="size">
    <img src="image/banner1.png" class="img_01">
    <img src="image/banner2.png" class="img_02">
    <div  class="button"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
    <div  class="sunshine"></div>
	</div>
  
  <!-- 相册横幅  -->

  <div id="background">
  </div>
  <div id="banner"> 
    <img id="happy" src="image/happy.png">
  </div>

  <div class="frame">
    <!-- 相册第一部分 -->
  	<div id="two" class="size">
      <div id="pic_show">
        <ul id="Album">
          <div class="st_left">
            <div class="top">
              <li class="photo_01">
              <a><em></em><img src="photo/1.jpg" /></a>
              <div class="Album_info">
                <img src="word2/1.jpg">
              </div>
              </li>
              <li class="album_big_04">
              <a><em></em><img src="word/1.jpg" /></a>
              </li>
            </div>
            <div class="bottom">
              <li class="album_big_02">
              <a><em></em><img src="word/2.jpg" /></a>
              </li>
              <li class="album_big_02">
              <a><em></em><img src="photo/4.jpg" /></a>
              </li>
            </div>
          </div>
          <div class="st_left">
            <li class="album_big_01">
            <a><em></em><img src="word/3.jpg" /></a>
            </li>
            <li class="photo_03">
            <a><em></em><img src="photo/3.jpg" /></a>
            <div class="Album_info">
              <img src="word2/3.jpg">
            </div>
            </li>
            <li class="album_big_04">
            <a><em></em><img src="word/4.jpg" /></a>
            </li>
          </div>
          <div class="st_right">
            <li class="photo_04">
            <a><em></em><img src="photo/2.jpg" /></a>
            <div class="Album_info">
              <img src="word2/2.jpg">
            </div>
            </li>
            <li class="album_big_03">
            <a><em></em><img src="word/5.jpg" /></a>
            </li>
            <li class="photo_05">
            <a><em></em><img src="photo/5.jpg" /></a>
            <div class="Album_info">
              <img src="word2/5.jpg">
            </div>
            </li>
          </div>
        </ul>
      </div>
  	</div>
     
    <!-- 相册第二部分  -->

     <div id="three" class="size">
      <div id="pic_show">
        <ul id="Album1">
          <div class="st_left">
            <li class="photo_04">
            <a><em></em><img src="photo/6.jpg" /></a>
            <div class="Album_info">
              <img src="word2/6.jpg">
            </div>
            </li>
            <li class="album_big_05">
            <a><em></em><img src="word/6.jpg" /></a>
            </li>
            <li class="photo_04">
            <a><em></em><img src="photo/7.jpg" /></a>
            <div class="Album_info">
              <img src="word2/7.jpg">
            </div>
            </li>
          </div>
          <div class="st_right">
            <div class="top">
              <li class="album_big_02">
              <a><em></em><img src="photo/10.jpg" /></a>
              </li>
              <li class="album_big_02">
              <a><em></em><img src="word/2.jpg" /></a>
              </li>
              <li class="album_big_02">
              <a><em></em><img src="word/2.jpg" /></a>
              </li>
              <li class="album_big_02">
              <a><em></em><img src="photo/9.jpg" /></a>
              </li>
            </div>
            <div class="bottom">
              <li class="album_big_01">
              <a><em></em><img src="word/9.jpg" /></a>
              </li>
              <li class="photo_01">
              <a><em></em><img src="photo/11.jpg" /></a>
              <div class="Album_info">
                <img src="word2/11.jpg">
              </div>
              </li>
            </div>
          </div>
          <div class="st_right">
            <li class="album_big_01">
            <a><em></em><img src="word/7.jpg" /></a>
            </li>
            <li class="photo_01">
            <a><em></em><img src="photo/8.jpg" /></a>
            <div class="Album_info">
              <img src="word2/8.jpg">
            </div>
            </li>
            <li class="album_big_01">
            <a><em></em><img src="word/8.jpg" /></a>
            </li>
          </div>
        </ul>
      </div>
    </div>

    <!-- 相册第三部分 -->

    <div id="four" class="size">
      <div id="pic_show">
        <ul id="Album2">
          <div class="st_left">
            <li class="photo_06">
            <a><em></em><img src="photo/12.jpg" /></a>
            <div class="Album_info">
              <img src="word2/12.jpg">
            </div>
            </li>
            <li class="album_big_01">
            <a><em></em><img src="word/10.jpg" /></a>
            </li>
          </div>
          <div class="st_center">
            <li class="photo_04">
            <a><em></em><img src="photo/13.jpg" /></a>
            <div class="Album_info">
              <img src="word2/13.jpg">
            </div>
            </li>
            <div class="small">
              <li class="album_big_02">
              <a><em></em><img src="photo/14.jpg" /></a>
              </li>
              <li class="album_big_02">
              <a><em></em><img src="word/2.jpg" /></a>
              </li>
              <li class="album_big_02">
              <a><em></em><img src="word/2.jpg" /></a>
              </li>
              <li class="album_big_02">
              <a><em></em><img src="photo/15.jpg" /></a>
              </li>
            </div>
            <li class="album_big_06">
            <a><em></em><img src="word/11.jpg" /></a>
            </li>
            <li class="photo_04">
            <a><em></em><img src="photo/16.jpg" /></a>
            <div class="Album_info">
              <img src="word2/16.jpg">
            </div>
            </li>
          </div>
          <div class="st_right">
            <li class="album_big_01">
            <a><em></em><img src="word/12.jpg" /></a>
            </li>
            <li class="photo_06">
            <a><em></em><img src="photo/17.jpg" /></a>
            <div class="Album_info">
              <img src="word2/17.jpg">
            </div>
            </li>
          </div>
        </ul>
      </div>
    </div>

  </div> 
  <!-- back-to-top -->
  <div id="BackTop" onclick="Top();">
  </div>
  <script type="text/javascript">
  $(function () {
        $(window).scroll(function(){
            if ($(window).scrollTop()>600){
                $("#BackTop").fadeIn(500);
            }
            else
            {
                $("#BackTop").fadeOut(500);
            }
        });
    });
  </script>
</body>
</html>

