.blog-content{
	display: inline-block;
	position: relative;
	left: 50%;
	margin-left: -600px;
	width: 1200px;
}
.blog-left{
	height:765px;
	width:200px;
	float:left;
}
.blog-right{
	width:1000px;
	float:right;
}
.blog-left li{
	display: inline-block;
	height: 80px;
	width: 100%;
	border-bottom: 2px solid rgba(255,255,255,0.5);
	color: #fff;
	text-align: center;
	line-height: 80px;
	cursor: pointer;
	font-family: 'Comic Sans MS',sans-serif;
	transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
	-webkit-transition: background-color 0.6s;
	-o-transition: background-color 0.6s;
}
.blog-left li:hover{
	background-color:rgb(245, 173, 85);
}
.blog-x{
	position: relative;
	z-index: 10;
	width: 100%;
	height: 265px;
}
.blog-x img{
	position: relative;
	top:-20px;
	left: -15px;
}
.message-title{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.titile-word{
	float: left;
	padding: 0px 15px 0 0;
	background-color:rgb(245, 173, 85);
	height: 40px;
	border-bottom: 3px solid rgb(51,51,51);
	text-align: left;
	line-height: 40px;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Comic Sans MS',sans-serif;
}
.titile-word2{
	float: right;
	height: 40px;
	width: 170px;
	color: #666;
	font-size: 14px;
	text-align: right;
	padding: 20px 15px 0 0
}
.myMessage{
	width: 100%;
}
.myMessage table{
	width: 100%;
}
.myMessage table thead tr{
	height: 20px;
}
.myMessage table tr{
	height: 60px;
	font-size: 16px;
}
.message-status{
	padding: 5px 10px;
	border-radius: 3px;
	background-color: rgb(245, 173, 85);
	font-size: 15px;
	font-weight: bold;
}
.myMessage table tbody tr{
	transition:background 0.5s,height 0.5s;
	-moz-transition:background 0.5s,height 0.5s; 
	-webkit-transition:background 0.5s,height 0.5s; 
	-o-transition:background 0.5s,height 0.5s; 
}
.myMessage table tbody tr:hover{
	background: rgba(245, 173, 85,0.2);
	height: 70px;
}
.myMessage table tbody tr a{
	font-size: 18px;
	font-weight: bold;
	color: #444;
	transition:color 0.4s;
	-moz-transition:color 0.4s; 
	-webkit-transition:color 0.4s; 
	-o-transition:color 0.4s; 
}
.myMessage table tbody tr a:hover{
	color: rgb(245, 173, 85);
}
.finisher{
	width: 370px;
	float: right;
	margin-top: 10px;
}
.finisher span{
	border-radius: 2px;
	display: inline-block;
	padding: 5px 20px;
	color: rgb(245, 173, 85);
	background: rgb(51,51,51);
	font-weight: bold;
	cursor: pointer;
	margin-right: 5px;
}
.finisher b{
	display: inline-block;
	padding: 5px 0px;
	border-radius: 2px;
	width: 30px;
	text-align: center;
	color: rgb(245, 173, 85);
	background: rgb(51,51,51);
	cursor: pointer;
	margin-right: 5px;
}
.blog-article-content{
	padding: 20px;	
}
.blog-article-content p{
	font-size: 16px;
	font-family: '宋体',sans-serif;
	text-indent: 2em;
	margin-bottom: 10px;
}