<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>page的个人网站-管理后台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="Shortcut Icon" href="../../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../publiccss/font/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../publiccss/bootstrap.min.css">
    <link rel="stylesheet" href="../../publiccss/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../js/plugins/dialog/dialog.css">
    <link rel="stylesheet" href="../js/plugins/pager/pager.css">
    <link rel="stylesheet" href="../css/public.css">
</head>
<body>