<ul id="accordion">
   <!--  <a class="fold collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" id="one">
        <li class=""><i class="icon-calendar m_right"></i>测试<i class="icon-chevron-right f_right"></i></li>
    </a>
    <li id="collapseOne" class="panel-collapse collapse s_nav">
        <ul>
            <a href="#">
                <li class=""><i class="icon-desktop m_right"></i>测试</li>
            </a>
            <a href="#">
                <li class=""><i class="icon-desktop m_right"></i>测试</li>
            </a>
            <a href="#">
                <li class=""><i class="icon-desktop m_right"></i>测试</li>
            </a>
            <a href="#">
                <li class=""><i class="icon-desktop m_right"></i>测试</li>
            </a>
        </ul>
    </li> -->
    <a href="music.php">
        <li class="" id="music"><i class="icon-music m_right"></i>音乐</li>
    </a>
    <a href="food.php">
        <li class="" id="food"><i class="icon-food m_right"></i>美食</li>
    </a>
    <a href="blog_list.php">
        <li class="" id="blog"><i class="icon-rss m_right"></i>博客</li>
    </a>
    <a href="movie_list.php">
        <li class="" id="movie"><i class="icon-film m_right"></i>电影</li>
    </a>
</ul>