<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>77公里</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css"  href="../publiccss/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"  href="../publiccss/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css"  href="css/nomal.css">
	<link rel="stylesheet" type="text/css"  href="css/index.css">
	<script src="../publicjs/jquery-2.1.4.min.js"></script>
	<script src="../publicjs/bootstrap.min.js"></script>
</head>
<body>
	<div class="bg">
		<!-- title部分 -->
		<div class="title box-shadow">
			<div class="icon"><img src="img/icon.png"></div>
			<div class="fn">
				<a href="index.html"><div class="btn-x">
					<div class="icons"></div>
					<div class="btn-x-font">主页</div>
				</div></a>
				<a href="manage.html"><div class="btn-x">
					<div class="icons" style="background-position: -168px 0;"></div>
					<div class="btn-x-font">管理</div>
				</div></a>
				<a href="charts.html"><div class="btn-x">
					<div class="icons" style="background-position: 14px -48px;"></div>
					<div class="btn-x-font">图表</div>
				</div></a>
				<a href="message.html"><div class="btn-x">
					<div class="icons" style="background-position: -70px 0;"></div>
					<div class="btn-x-font">提醒<span class="remind">7</span></div>
				</div></a>
			</div>
		</div>
		<!-- 主体部分 -->
		<div class="main">
			<div class="four-block box-shadow" style="margin-right:25px;">
				<div class="index-title">上月销售额</div>
				<div class="index-content">
					<img src="img/sales.png">37.25K
					<p>同比增长：<b>0%</b></p>
				</div>
				<div class="index-bottom">2015 / 10</div>
			</div>
			<div class="four-block box-shadow" style="margin-right:25px;">
				<div class="index-title">本月销售额</div>
				<div class="index-content">
					<img src="img/sales.png">34.03K
					<p>同比增长：<b style="color:rgb(42, 187, 155)">-8.6%</b></p>
				</div>
				<div class="index-bottom">2015 / 11</div>
			</div>
			<div class="four-block box-shadow" style="margin-right:25px;">
				<div class="index-title">下个月销售目标</div>
				<div class="index-content">
					<img src="img/sales.png">40.00K
					<p>同比增长：<b style="color:#DE6565">17.5%</b></p>
				</div>
				<div class="index-bottom">2015 / 12</div>
			</div>
			<div class="four-block box-shadow">
				<div class="index-title">员工总数</div>
				<div class="index-content">17
					<p>同比增长：<b>0%</b></p>
				</div>
				<div class="index-bottom"></div>
			</div>
			<div style="float:left; height:290px; width:500px ;margin-right:25px;">
				<div class="person_id box-shadow">
					<div class="portrait"><img style="border-color:rgba(0,0,0,0.3)" src="img/person.jpg"></div>
					<div style="float:left;padding: 13px;">
						<p style="color:rgb(91,192,222); font-size: 16px;font-weight: bold;">周强</p>
						<p>柒柒汽车修理公司</p>
						<p><span>总经理</span></p>
					</div>
				</div>
				<div class="weather box-shadow">
					<p style="padding:10px;margin:0">上海，宝山</p>
					<div class="weather-content"><img src="img/cloud.png">  多云</div>
					<div class="index-bottom" style="height:50px;">
						<div style="height:40px;width:110px;float:left"><p>污染指数</p><p>pm2.5: <span>218</span></p></div>
						<div style="height:40px;width:110px;float:left"><p>空气湿度</p><p><span>66%</span></p></div>
						<div style="height:40px;width:110px;float:left"><p>可见度(km)</p><p><span>3.2</span></p></div>
						2015 / 11 / 30
					</div>
				</div>
			</div>
			<div class="index-menu box-shadow">
				<a href="manage.html"><div class="index-menu-box">
					<span class="icons-big" style="background-position:-105px 220px;"></span>
					<p>工作提醒</p>
				</div></a>
				<a href="manage.html"><div class="index-menu-box">
					<span class="icons-big" style="background-position:-105px 134px;"></span>
					<p>市场份额</p>
				</div></a>
				<a href="manage.html"><div class="index-menu-box">
					<span class="icons-big" style="background-position:145px 220px;"></span>
					<p>个人简介</p>
				</div></a>
				<a href="manage.html"><div class="index-menu-box">
					<span class="icons-big" style="background-position: 0px 220px;"></span>
					<p>销售趋势</p>
				</div></a>
				<a href="manage.html"><div class="index-menu-box">
					<span class="icons-big" style="background-position: 0px 135px;"></span>
					<p>维修项目管理</p>
				</div></a>
				<a href="manage.html"><div class="index-menu-box">
					<span class="icons-big" style="background-position:145px 385px;"></span>
					<p>我的员工</p>
				</div></a>
				<a href="manage.html"><div class="index-menu-box">
					<span class="icons-big" style="background-position:-215px 135px;"></span>
					<p>配件采购</p>
				</div></a>
				<a href="manage.html"><div class="index-menu-box">
					<span class="icons-big" style="background-position:-208px 220px;"></span>
					<p>公司简介</p>
				</div></a>
			</div>
		</div>
	</div>
	</style>	
</body>
</html>