<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>77公里</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css"  href="../publiccss/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"  href="../publiccss/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css"  href="css/nomal.css">
	<script src="../publicjs/jquery-2.1.4.min.js"></script>
	<script src="../publicjs/bootstrap.min.js"></script>
	<script src="../publicjs/highcharts.js"></script>
</head>
<body>
	<div class="bg">
		<!-- title部分 -->
		<div class="title box-shadow">
			<div class="icon"><img src="img/icon.png"></div>
			<div class="fn">
				<a href="index.html"><div class="btn-x">
					<div class="icons"></div>
					<div class="btn-x-font">主页</div>
				</div></a>
				<a href="manage.html"><div class="btn-x">
					<div class="icons" style="background-position: -168px 0;"></div>
					<div class="btn-x-font">管理</div>
				</div></a>
				<a href="charts.html"><div class="btn-x">
					<div class="icons" style="background-position: 14px -48px;"></div>
					<div class="btn-x-font">图表</div>
				</div></a>
				<a href="message.html"><div class="btn-x">
					<div class="icons" style="background-position: -70px 0;"></div>
					<div class="btn-x-font">提醒<span class="remind">7</span></div>
				</div></a>
			</div>
		</div>
		<!-- 主体部分 -->
		<div class="main">
			<!-- 左边部分 -->
			<div class="left">
				<!-- 个人管理 -->
				<div class="box-shadow" style="width:100%;float:left;margin-bottom:25px;">
					<div class="personal">
						<div class="portrait-font"><a href="javascript:void(0);"><span>修改密码</span></a><a href="javascript:void(0);"><span>退出</span></a></div>
						<div class="portrait"><img src="img/person.jpg"></div>
						<div class="portrait-font"><p>周强</p> <span style="font-weight:bold">总经理</span></div>
					</div>
					<!-- 列表单 -->
					<div id="accordion">
				        <a data-toggle="collapse" data-parent="#accordion" 
				          href="#collapseOne">
				          <div class="nav">
				          	<div class="icons" style="background-position:110px 15px"></div>
				          	<span>维修</span>
				          	<div class="icons" style="background-position:14px 87px; float:right"></div>
				          </div>
				        </a>
					    <div id="collapseOne" class="panel-collapse collapse">
					      	<ul>
					      		<a id="wxkdB" href="javascript:void(0);"><li>维修开单</li></a>
					        	<a id="wxdglB" href="javascript:void(0);"><li>维修单管理</li></a>
					        	<a id="xskdB" href="javascript:void(0);"><li>销售开单</li></a>
								<a id="xsdglB" href="javascript:void(0);"><li>销售单管理</li></a>
								<a id="xsthB" href="javascript:void(0);"><li>销售退货</li></a>
								<!-- <a href="javascript:void(0);"><li>销售退货单管理</li></a> -->
					      	</ul>
					    </div>
				        <a data-toggle="collapse" data-parent="#accordion" 
				          href="#collapseTwo">
				         <div class="nav">
				         	<div class="icons" style="background-position:110px 38px"></div>
				         	<span>采购</span>
				         	<div class="icons" style="background-position:14px 87px; float:right"></div>
				         </div>
				        </a>
					    <div id="collapseTwo" class="panel-collapse collapse">
					       <ul>
					       		<a id="pjcgB" href="javascript:void(0);"><li>配件采购</li></a>
					        	<a id="cgdcgB" href="javascript:void(0);"><li>采购单采购</li></a>
					        	<a id="cgthB" href="javascript:void(0);"><li>采购退货</li></a>
					        	<a id="cgthdglB" href="javascript:void(0);"><li>采购退货单管理</li></a>
					       </ul>
					    </div>
				        <a data-toggle="collapse" data-parent="#accordion" 
				          href="#collapseThree">
				          <div class="nav" style="border-bottom:0px">
				          	<div class="icons" style="background-position:60px 38px"></div>
				          	<span>资料</span>
				          	<div class="icons" style="background-position:14px 87px; float:right"></div>
				          </div>
				        </a>
					    <div id="collapseThree" class="panel-collapse collapse">
					    	<ul>
					        	<a id="ygglB" href="javascript:void(0);"><li>员工管理</li></a>
					        	<a id="pjglB" href="javascript:void(0);"><li>配件管理</li></a>
					        	<a id="wxxmglB" href="javascript:void(0);"><li>维修项目管理</li></a>
					        </ul>
					    </div>
					</div>
				</div>
				<!-- 。。。 -->
				<div class="theme02 margin box-shadow"  >
					<div class="theme-title"><div class="blank"></div>工作提醒</div>
					<div class="Mconcent">
						<div class="Mremind">
							<p>保险提醒<span>/365</span><span style="color:#26C281">266</span></p>
							<span class="ProBar"></span>
							<span class="ProBar jindu" style="background-color:#f0ad4e; width:73%"></span>
						</div>
						<div class="Mremind">
							<p>保养提醒<span>/365</span><span style="color:#26C281">55</span></p>
							<span class="ProBar"></span>
							<span class="ProBar jindu" style="background-color:#2e6da4; width:15%"></span>
						</div>
						<div class="Mremind">
							<p>年审提醒<span>/365</span><span style="color:#E68364">336</span></p>
							<span class="ProBar"></span>
							<span class="ProBar jindu" style="background-color:rgb(204,55,71); width:92%"></span>
						</div>
					</div>
				</div>
				<div class="theme02 margin box-shadow">
					<div class="Mconcent" id="MarketShare" style="height:300px;"></div>
				</div>
			</div>
			<!-- 中间部分 -->
			<div class="center">
				<div class="theme02 margin box-shadow">
					<div class="Mconcent" id="MyChart" style="height:300px;"></div>
				</div>
				<div id="wxxmgl" class="theme02 margin box-shadow"  >
					<div class="theme-title"><div class="blank"></div>维修项目管理<span class="icons-remove"></span></div>
					<div class="Mconcent"  style="height:350px;">
						<div class="project">
							<ul>
								<li>
									<div class="PojName">xxx维修项目<p>工时：<span style="color:#03A678">15</span>/60</p></div>
									<span class="ProBar"></span>
									<span class="ProBar jindu" style="background-color:#2e6da4; width:25%"></span>
								</li>
								<li>
									<div class="PojName">xxx维修项目<p>工时：<span style="color:#03A678">30</span>/45</p></div>
									<span class="ProBar"></span>
									<span class="ProBar jindu" style="background-color:rgb(204,55,71); width:66.7%"></span>
								</li>
								<li>
									<div class="PojName">xxx维修项目<p>工时：<span style="color:#03A678">77</span>/100</p></div>
									<span class="ProBar"></span>
									<span class="ProBar jindu" style="background-color:rgb(204,55,71); width:77%"></span>
								</li>
								<li>
									<div class="PojName">xxx维修项目<p>工时：<span style="color:#03A678">35</span>/100</p></div>
									<span class="ProBar"></span>
									<span class="ProBar jindu" style="background-color:#f0ad4e; width:35%"></span>
								</li>
								<li>
									<div class="PojName">xxx维修项目<p>工时：<span style="color:#03A678">1</span>/15</p></div>
									<span class="ProBar"></span>
									<span class="ProBar jindu" style="background-color:#2e6da4; width:7%"></span>
								</li>
								<li>
									<div class="PojName">xxx维修项目<p>工时：<span style="color:#03A678">5</span>/12</p></div>
									<span class="ProBar"></span>
									<span class="ProBar jindu" style="background-color:#f0ad4e; width:41.7%"></span>
								</li>
							</ul>
						</div>
						<div class="PojSeach">
							<div class="seach">
								<div><img src="img/poj.png"></div>
								<input type="text" name="pojseach"  onfocus="if(this.value == '请输入需要搜索的项目名称.....') this.value = ''" onblur="if(this.value =='') this.value = '请输入需要搜索的项目名称.....'" value="请输入需要搜索的项目名称.....">
								<span><img src="img/seach.png"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 右边部分 -->
			<div class="right">
				<div id="MyStaff" class="theme01 margin box-shadow" >
					<div class="theme-title"><div class="blank"></div>我的员工<span class="icons-remove"></span></div>
					<div class="Mconcent" style="height:300px;">
						<div class="TolSales ">
							<img src="img/sales.png"><div><span class="Tolmath">1023.3万</span><span class="Tolep">总销售额</span></div>
							<img src="img/Elpe.png"><div><span class="Tolmath">7人</span><span class="Tolep">员工总数</span></div>
						</div>
						<ul style="margin-bottom:0px;">
							<li>
								<div class="PerSales">
									<span class="PerMath">118.9万</span>
									<span class="PerEp">个人销售额</span>
								</div>
								<div class="PerPot"><img src="img/pot/1.jpg"></div>
								<div class="PerIndus">
									<span>张三</span>
									<p>新晋职员，第一年就有着非常不错的销售业绩！</p>
								</div>
							</li>
							<li>
								<div class="PerSales">
									<span class="PerMath">150.8万</span>
									<span class="PerEp">个人销售额</span>
								</div>
								<div class="PerPot"><img src="img/pot/2.jpg"></div>
								<div class="PerIndus">
									<span>李四</span>
									<p>勤勤恳恳的老员工。</p>
								</div>
							</li>
							<li>
								<div class="PerSales">
									<span class="PerMath">194.4万</span>
									<span class="PerEp">个人销售额</span>
								</div>
								<div class="PerPot"><img src="img/pot/3.jpg"></div>
								<div class="PerIndus">
									<span>王五</span>
									<p>每年的销售之王！</p>
								</div>
							</li>
						</ul>
						<div class="PreMore">More staffs ......</div>
					</div>
				</div>
				<div id="pjcg" class="theme03 margin box-shadow"  >
					<div class="theme-title" ><div class="blank"></div >配件采购<span class="icons-remove"></span></div>
					<div class="Mconcent" style="height:270px;">
						<form class="form">
							<p>配件编码<input type="text"></p>
							<p>配件名称<input type="text"></p>
							<p>采购量<input type="text"></p>
							<p>成本价<input type="text"></p>
							<p>销售价<input type="text"></p>
							<input class="submit" id="pjcgS" type="submit" value="提交">
						</form>
					</div>
				</div>
				<div class="theme03 margin box-shadow">
					<div class="theme-title"><div class="blank"></div>公司简介</div>
					<div class="Mconcent" id="company" style="height:440px;">
						<h4>柒柒汽车修理公司</h4>
						<img src="img/company.jpg">
						<p>企业2007年开始建设，始初为三类小修作坊式经营户，在企业建立的初期，便制定“专业修车，以客为尊”的经营理念，以努力为客户降低使用成本为企业宗旨，采取稳步经营，持之以恒的发展策略，在日益竞争激烈的汽车维修市场中，依托上汽通用五菱汽车股份有限公司的先进管理，赢得了客户的信任，也为自己争取到了珍贵的发展空间。</p>
					</div>
				</div>
				<!-- <div class="theme03 margin box-shadow">
					<div class="theme-title"><div class="blank"></div>我是标题<span class="icons-remove"></span></div>
					<div class="Mconcent" style="height:200px;"></div>
				</div> -->
			</div>
		</div>
	</div>
	<div id="back-to-top" class="box-shadow" onclick="backtop();"><span class="glyphicon glyphicon-chevron-up"></span>top</div>
</body>
<script type="text/javascript">
$("#MyChart").highcharts({
	chart:{
		backgroundColor:'rgba(0,0,0,0.1)'
	},
 	title: {
        text: '2015年销售趋势',
        x: -20,
        style:{
        	color:'#fff',
        },
    },
    subtitle: {
        text: 'Source: www.seventh77.com',
        x: -20,
        style:{
        	color:'#fff',
        },
    },
    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        labels:{
        	style:{
        		color:'#fff',
        	}
        }
    },
    yAxis: {
        title: {
            text: '销售额 (万元)',
            style:{
            	color:'#fff',
            },
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }],
        labels:{
    		style:{
    			color:'#fff',
    		}
        }
    },
    tooltip: {
        valueSuffix: '万元'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    },
    series: [{
	        name: '张三',
	        data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8],
        },
        {
	        name: '李四',
	        data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5],
	        color:'#9B59B6'
    	},
    	{
            name: '王五',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
            color:'#2ABB9B'
        },
        ]
});
$("body").delegate(".icons-remove","click",function(){
	var x=$(this).parent().siblings(".Mconcent")
	$(x).slideUp($(x).height()*2.5,function(){
		var that=this;
		$(this).parent().addClass("animation-remove");
		var t=setTimeout(function(){
			$(that).parent().css("width","0");
			$(that).parent().slideUp(500,function(){
				$(that).parent().remove();
			})
		},1000);
	});
});
var PerStaffs={
	staffs:[{
		name:"小小",
		sale:97.5,
		msg:"勤勤恳恳的老员工。",
		portrait:"img/pot/4.jpg"
	},{
		name:"愤怒的蛮王",
		sale:135.8,
		msg:"勤勤恳恳的老员工。",
		portrait:"img/pot/3.jpg"
	},{
		name:"暴走的盖伦",
		sale:180.5,
		msg:"勤勤恳恳的老员工。",
		portrait:"img/pot/1.jpg"
	},{
		name:"易大师",
		sale:145.4,
		msg:"勤勤恳恳的老员工。",
		portrait:"img/pot/2.jpg"
	}
	]
};
$("body").delegate(".PreMore","click",function(){
	if($(".PreMore").html()=="More staffs ......"){
		for(var i in PerStaffs.staffs){
			var y = '<li style="display:none"><div class="PerSales"><span class="PerMath"></span><span class="PerEp">个人销售额</span></div><div class="PerPot"><img src=""></div><div class="PerIndus"><span></span><p></p></div></li>';
			$("#MyStaff ul").append(y);
			$("#MyStaff ul").children().last().children().children(".PerMath").html(PerStaffs.staffs[i].sale+"万");
			$("#MyStaff ul").children().last().children(".PerPot").children().attr("src",PerStaffs.staffs[i].portrait);
			$("#MyStaff ul").children().last().children(".PerIndus").children("span").html(PerStaffs.staffs[i].name);
			$("#MyStaff ul").children().last().children(".PerIndus").children("p").html(PerStaffs.staffs[i].msg);
			$("#MyStaff ul").children().last().slideDown(800);
		}
		t=setTimeout(function(){$(".PreMore").html("Collapse")},800);
	}
	if($(".PreMore").html()=="Collapse"){
		$("#MyStaff ul").children().slice(3).slideUp(800,function(){
			$(this).remove();
		});
		t=setTimeout(function(){$(".PreMore").html("More staffs ......")},800);
	}
});
$('#MarketShare').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        backgroundColor:'rgba(0,0,0,0)'
    },
    title: {
        text: '2015年各品牌配件市场份额',
        style:{
        	color:'#fff',
        	fontSize:'14'
        }
    },
    tooltip: {
	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
            	 enabled: false
            },
            showInLegend: true,
            borderColor: ""
        },
    },
    series: [{
        type: 'pie',
        name: 'Browser share',
        data: [
            {name:'德玛轮胎', y:66.0,color:'rgb(33,102,141)'},
            {name:'易刹车', y:26.8,color:'#1B85BF'},
            {name:'新尾翼', y:5.1,color:'#59ABE3'},
            {name:'泽拉斯螺丝', y:2.1,color:'#fff'},
        ]
    }]
});
$(function () {
    $(window).scroll(function(){
        if ($(window).scrollTop()>200){
            $("#back-to-top").fadeIn(500);
        }
        else
        {
            $("#back-to-top").fadeOut(500);
        }
    });
});
function backtop(){
	 $('body,html').animate({scrollTop:0},500);
}
</script>
<script src="js/append.js"></script>
</html>